@import '../pendo-index/index.css';

/* Banner Styles */
._pendo-guide-banner-top_ > ._pendo-guide-container_ {
  /* Guide border, shadow, background, etc. */
  background-color: var(--azure01);
  border: solid 1px var(--azure06);
  border-radius: 2px;
  margin: 5px auto 0;
  padding: 15px 0;
  width: 95%;

  & ._pendo-guide-content_ {
    /* Content area: use for font attributes, padding, etc. */
    color: var(--graphite10);
    font-size: 14px;
    padding: 0;
    text-align: center;
  }

  & ._pendo-close-guide_ {
    /* Close guide icon */
    color: var(--graphite06);
    display: inline;
    font-size: 22px;
    font-weight: 200;
    right: 15px;
    top: 10px;

    &:hover {
      /* Close guide icon hover effects */
      color: var(--graphite10);
    }
  }
}
