@import '../pendo-base/base.css';


/* Tooltips CSS for This Template */

h1 {
    color: var(--graphite10); /* color is soho-graphite10 */
    font-size: 18px;
    font-weight: normal;
    padding: 20px 20px 2px;
}

p, ol, ul {
    color: var(--graphite10); /* color is soho-graphite10 */
    font-size: 14px;
    line-height: 20px;
    padding: 5px 20px;
    text-align: left;
}

ul {
    list-style-type: disc;
    margin-left: 15px;
}

ol {
    list-style-type: decimal;
    margin-left: 15px;
}

p {
    margin: 10px 0;
}

a {
    color: var(--azure06); /* color is soho-azure06 */
    text-decoration: none;
}

.custom-button {
    border-top: solid 1px var(--graphite10);
    color: var(--azure06); /* color is soho-azure06 */
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
}

.custom-button:hover {
    color: var(--azure07);
}

.red-text {
    color: var(--alert-red); /* color is soho-red-alert */
}

/* --- Selectors from Global CSS --- */
._pendo-guide-container_ {
    border-radius: 2px;
}
._pendo-guide-container_ ._pendo-close-guide_ {
    /* Close guide icon */
    color: var(--graphite06); /* color is soho-var(--graphite06) */
    display: inline;
    font-weight: 200;
    font-size: 28px;
    top: 6px;
    right: 15px;
}
._pendo-guide-container_ ._pendo-close-guide_:hover {
    /* Close guide icon hover effects*/
    color: var(--graphite10); /* color is soho-graphite10 */
}
