/* ------------------------------
 * ----- SOHO Styles v4.2.6 -----
 * ------------------------------ */

._pendo-guide-container_ {
    border-radius: 2px;
}

._pendo-guide-container_ ._pendo-close-guide_ {
    /* Close guide icon */

    color: var(--graphite06);
    display: inline;
    font-weight: 200;
    font-size: 28px;
    top: 6px;
    right: 15px;
}

._pendo-guide-container_ ._pendo-close-guide_:hover {
    /* Close guide icon hover effects*/
    color: var(--graphite10);
}

._pendo-guide-banner-top_ ._pendo-guide-container_ {
    /* Guide border, shadow, background, etc. */
    border: solid 1px var(--azure06);
    background-color: var(--azure01);
    border-radius: 2px;
    padding: 15px 0;
    margin: 5px auto 0 auto;
    width: 95%;
}

._pendo-guide-banner-top_ ._pendo-guide-container_ ._pendo-guide-content_ {
    /* Content area: use for font attributes, padding, etc. */
    color: var(--graphite10);
    font-size: 14px;
    padding: 0;
    text-align: center;
}

._pendo-guide-banner-top_ ._pendo-guide-container_ ._pendo-close-guide_ {
    /* Close guide icon */

    color: var(--graphite06);
    display: inline;
    font-weight: 200;
    font-size: 22px;
    top: 10px;
    right: 15px;
}

._pendo-guide-banner-top_ ._pendo-guide-container_ ._pendo-close-guide_:hover {
    /* Close guide icon hover effects*/

    color: var(--graphite10);

}

._pendo-guide-container_ ._pendo-guide-content_ h1 {
    color: var(--graphite10);
    font-size: 18px;
    font-weight: normal;
    padding: 20px 20px 2px;
}

._pendo-guide-container_ ._pendo-guide-content_ p,
._pendo-guide-container_ ._pendo-guide-content_ ol,
._pendo-guide-container_ ._pendo-guide-content_ ul {
    color: var(--graphite10);
    font-size: 14px;
    line-height: 20px;
    padding: 5px 20px;
    text-align: left;
}

._pendo-guide-container_ ._pendo-guide-content_ ul {
    list-style-type: disc;
    margin-left: 15px;
}

._pendo-guide-container_ ._pendo-guide-content_ ol {
    list-style-type: decimal;
    margin-left: 15px;
}

._pendo-guide-container_ ._pendo-guide-content_ p {
    margin: 10px 0;
}

._pendo-guide-container_ ._pendo-guide-content_ a {
    color: var(--azure06);
    text-decoration: none;
}

._pendo-guide-container_ ._pendo-guide-content_ .custom-button {
    background: var(--white);
    border: 0;
    border-top: solid 1px var(--graphite10);
    color: var(--azure06);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
}

._pendo-guide-container_ ._pendo-guide-content_ .custom-button:hover {
    color: var(--azure07);
}

._pendo-guide-container_ ._pendo-guide-content_ .red-text {
    color: var(--alert-red);
}