/*
 * Tables
 */
table {
  border: solid 1px #368ac0;
  border-collapse: collapse;
  margin: 25px 0;
}

table th {
  background-color: #368ac0;
  color: #fff;
  height: 40px;
  vertical-align: middle;
}

table td {
  vertical-align: top;
}

.img-lg {
  max-width: 800px;
}

table img,
.img-md {
  max-width: 350px;
}

.img-sm {
  max-width: 200px;
}

/*
 * Lists
 */
ul,
ol {
  margin: 8px 0;
}

ul li,
ol li {
  margin: 8px;
}

ul :last-child,
ol :last-child {
  margin-bottom: 0;
}

ul :first-child,
ol :first-child {
  margin-top: 0;
}

/*
 * Actual, very specific styles that should equal what is in pendo css
 * and should be the equivalent of the "soho-red-alert" hex.
 */
.red-text {
  color: #e84f4f;
}

.blue-text {
  color: #368ac0;
}

/*
 * Raw CSS iframe
 */
#iframe-raw-css {
  background: #f0f1f5;
  border: solid 1px #f0f1f5;
  height: 48px;
  padding: 10px 15px;
  width: 90%;
}
